<div>
  <form #form1="ngForm">
    <input type="text" name="txt1" required [(ngModel)]="text1" #txt1="ngModel"
      [initValue]="''" (changeEdited)="setEdited1($event)">
    <ul>
      <li *ngIf="form1.valid">form.valid</li>
      <li *ngIf="form1.invalid">form.invalid</li>
      <li *ngIf="form1.touched">form.touched</li>
      <li *ngIf="form1.untouched">form.untouched</li>
      <li *ngIf="form1.pristine">form.pristine</li>
      <li *ngIf="form1.dirty">form.dirty</li>
      <li>form1.edited {{ form1.isEdited() ? 'true' : 'false' }}</li>
      <li>txt1.edited {{ txt1.isEdited() ? 'true' : 'false' }}</li>
      <li>edited {{ edited1 ? 'true' : 'false' }}</li>
    </ul>
  </form>
</div>
<div>
  <form #form2="ngForm">
    <input type="text" name="txt2" required [(ngModel)]="text2" #txt2="ngModel"
      [initValue]="'aaa'" (changeEdited)="setEdited2($event)">
    <input type="text" name="txt3" required [(ngModel)]="text3" #txt3="ngModel"
      [initValue]="''" (changeEdited)="setEdited3($event)">
    <ul>
      <li *ngIf="form2.valid">form.valid</li>
      <li *ngIf="form2.invalid">form.invalid</li>
      <li *ngIf="form2.touched">form.touched</li>
      <li *ngIf="form2.untouched">form.untouched</li>
      <li *ngIf="form2.pristine">form.pristine</li>
      <li *ngIf="form2.dirty">form.dirty</li>
      <li>form2.edited {{ form2.isEdited() ? 'true' : 'false' }}</li>
      <li>txt2.edited {{ txt2.isEdited() ? 'true' : 'false' }}</li>
      <li>txt3.edited {{ txt3.isEdited() ? 'true' : 'false' }}</li>
      <li>edited2 {{ edited2 ? 'true' : 'false' }}</li>
      <li>edited3 {{ edited3 ? 'true' : 'false' }}</li>
    </ul>
  </form>
</div>
