<div>
  <form #form1="ngForm">
    <input type="text" name="memo" required [(ngModel)]="text1" #txt1="ngModel">
    <ul>
      <li *ngIf="form1.valid">form.valid</li>
      <li *ngIf="form1.invalid">form.invalid</li>
      <li *ngIf="form1.touched">form.touched</li>
      <li *ngIf="form1.untouched">form.untouched</li>
      <li *ngIf="form1.pristine">form.pristine</li>
      <li *ngIf="form1.dirty">form.dirty</li>
      <li>txt1.touchedOrDirty {{ txt1.touchedOrDirty() ? 'true' : 'false' }}</li>
    </ul>
  </form>
</div>
